{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-center">Login</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="p-4 border rounded shadow-sm bg-light">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                    <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" placeholder="Enter your name" class="form-control">
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                    <input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}" placeholder="Enter your password" class="form-control">
                    {% if form.password.errors %}
                        <div class="text-danger">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <div class="mt-1 text-center">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}
