{% extends 'main/base.html' %}
{% block title %}
    About Us - Green Volunteer Network
{% endblock %}
{% block content %}
<div class="container">
    <h1>About Green Volunteer Network</h1>

    <p>We are building a platform called Green Volunteer Network, designed to connect volunteers with environmental initiatives and organizations across Canada. Our mission is to facilitate community engagement in environmental conservation and sustainability projects.</p>

    <p>Green Volunteer Network allows users to:</p>

    <ul>
        <li>Find various volunteer opportunities related to environmental conservation.</li>
        <li>Join initiatives and projects that align with their interests and skills.</li>
        <li>Manage their volunteer commitments and activities through our platform.</li>
    </ul>

    <p>This platform aims to foster community involvement and collaboration, ultimately contributing to the improvement of environmental sustainability efforts nationwide.</p>
</div>

{% endblock %}
