{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Profile</h1>

    <!-- Profile section with photo and details -->
    <div class="row border-section">
        <!-- Profile photo section -->
        <div class="col-md-4">
            {% if user_profile.profile_photo %}
                <img src="{{ user_profile.profile_photo.url }}" alt="Profile Photo" class="rounded-circle" style="width: 200px; height: 200px;">
            {% else %}
                <img src="{% get_media_prefix %}defaultAvatar.png" alt="Default Avatar" class="rounded-circle" style="width: 200px; height: 200px;">
            {% endif %}
            <!-- Edit profile photo form -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ p_form.profile_photo}}
                <button type="submit" class="btn btn-primary">Update Profile Photo</button>
            </form>
        </div>

        <!-- User details section -->
        <div class="col-md-8">
            <h2>User Details</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
    </div>

    <!-- Volunteer Opportunities section -->
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Your Volunteer Opportunities</h2>
            {% if participated_opportunities %}
                {% for opportunity in participated_opportunities %}
                    <div>
                        <h3>{{ opportunity.title }}</h3>
                        <p>{{ opportunity.description }}</p>
                        <p><strong>Organization:</strong> {{ opportunity.organization }}</p>
                        <p><strong>Location:</strong> {{ opportunity.location }}</p>
                        <p><strong>Date:</strong> {{ opportunity.date }}</p>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
                <p>No volunteer opportunities found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
