{% extends 'main/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Register</h2>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
        <div class="alert alert-danger">
          <ul>
            {% for field in form %}
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}
